<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="./javascripts/index.js" defer></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<h2>FSE Chat Room</h2>
hi <%=username%>
<button id="logout-button">Logout</button>
<div id="message-container"></div>
<textarea name="" id="chat-input" cols="30" rows="10"></textarea>
<br />
<button id="post-button">Post</button>
