<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="./javascripts/index.js" defer></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<h2>FSE Chat Room<button id="logout-button">Logout</button></h2>
<div id="message-container">
    <% for(var i=0; i<messages.length; i++) { %>
        <div class="message-box"><div class="chat-person-box"><b><%=messages[i].username%></b><%=messages[i].sentTime%></div><div><%=messages[i].message%></div></div>
    <% } %>
</div>
<textarea name="" id="chat-input" cols="30" rows="10"></textarea>
<br />
<button id="post-button">Post</button>
