<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<script src="./javascripts/login.js" defer></script>
<div class="container flex">
	<div class="login-box flex">
		<p class="title">FSE Chat Room</p>
		<div class="login-form">
			<div class="form-control">
				<label for="username">Username</label><br />
				<input type="text" name="username" id="username" />
			</div>
			<div class="form-control">
				<label for="password">Password</label><br />
				<input name="password" type="password" id="password" />
			</div>
			<div id="message"></div>
			<div class="login-buttons">
				<button id="login-button">Login</button>
				<button id="register-button">Register</button>
			</div>
		</div>
	</div>
</div>
