body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.flex{
  display: flex;
  justify-content: center;
}
.container{
  /* display: flex; */
  /* gap: 10px 20px; */
  /* justify-content: center; */
}
.login-box{
  gap: 10px 20px;
  flex-direction: column;
} 
a {
  color: #00B7FF;
}
.message-box{
  background: #716d6d1a;
  padding: 7px
}
.chat-person{

}